<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0"
         metadata-complete="true">


    <servlet>
        <servlet-name>AddBankServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.AddBankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddBankServlet</servlet-name>
        <url-pattern>/addBankServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllBanksBeforeRemoveServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.AllBanksBeforeRemoveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllBanksBeforeRemoveServlet</servlet-name>
        <url-pattern>/allBanksBeforeRemoveServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveBankServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.RemoveBankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveBankServlet</servlet-name>
        <url-pattern>/removeBankServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllBanksBeforeRemovingAllBanksServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.AllBanksBeforeRemovingAllBanksServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllBanksBeforeRemovingAllBanksServlet</servlet-name>
        <url-pattern>/allBanksBeforeRemovingAllBanksServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BeforeFindClientsOfBankServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.BeforeFindClientsOfBankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeforeFindClientsOfBankServlet</servlet-name>
        <url-pattern>/beforeFindClientsOfBankServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BeforeAddingClientServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.BeforeAddingClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BeforeAddingClientServlet</servlet-name>
        <url-pattern>/beforeAddingClientServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddClientServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.AddClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddClientServlet</servlet-name>
        <url-pattern>/addClientServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllClientsBeforeRemovingServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.AllClientsBeforeRemovingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllClientsBeforeRemovingServlet</servlet-name>
        <url-pattern>/allClientsBeforeRemovingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveClientServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.RemoveClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveClientServlet</servlet-name>
        <url-pattern>/removeClientServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllClientsBeforeTheirRemovingServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.AllClientsBeforeTheirRemovingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllClientsBeforeTheirRemovingServlet</servlet-name>
        <url-pattern>/allClientsBeforeTheirRemovingServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveAllClientsServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.RemoveAllClientsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveAllClientsServlet</servlet-name>
        <url-pattern>/removeAllClientsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllClientsToFindAccountsServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.AllClientsToFindAccountsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllClientsToFindAccountsServlet</servlet-name>
        <url-pattern>/allClientsToFindAccountsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FindClientsAccountsServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.FindClientsAccountsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindClientsAccountsServlet</servlet-name>
        <url-pattern>/findClientsAccountsServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AllDataToAddAccountServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.AllDataToAddAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AllDataToAddAccountServlet</servlet-name>
        <url-pattern>/allDataToAddAccountServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddClientsAccountServlet</servlet-name>
        <servlet-class>com.home.bankApplication.servlets.AddClientsAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddClientsAccountServlet</servlet-name>
        <url-pattern>/addClientsAccountServlet</url-pattern>
    </servlet-mapping>






</web-app>


